*.dat
*.out

tmp/
projects/04/**/*.hack
projects/06/**/*.hack
projects/07/**/*.hack
projects/07/**/SimpleAdd.asm
projects/07/**/StackTest.asm
projects/07/**/BasicTest.asm
projects/07/**/PointerTest.asm
projects/07/**/StaticTest.asm
projects/08/**/FibonacciSeries.asm
projects/08/**/BasicLoop.asm
projects/08/**/SimpleFunction.asm
projects/08/**/FibonacciElement.asm
projects/08/**/StaticsTest.asm
projects/08/**/NestedCall.asm
projects/11/**/*.vm
